.album-panel, .playlist-panel {
  padding: 2% 3%; }
  .album-panel a, .playlist-panel a {
    color: #CCC;
    text-decoration: none; }
  .album-panel .album-cover, .album-panel .heading, .playlist-panel .album-cover, .playlist-panel .heading {
    display: inline-block;
    vertical-align: top; }
  .album-panel .album-cover, .playlist-panel .album-cover {
    max-width: 200px; }
  .album-panel .album-cover img, .playlist-panel .album-cover img {
    width: 100%; }
  .album-panel .heading, .playlist-panel .heading {
    margin-top: 20px;
    padding-left: 20px; }
    .album-panel .heading h1, .playlist-panel .heading h1 {
      color: #FFF; }
    .album-panel .heading h1, .playlist-panel .heading h1 {
      font-size: 3em; }
    .album-panel .heading p, .playlist-panel .heading p {
      font-size: 1em;
      line-height: 2em; }
  .album-panel .filter, .playlist-panel .filter {
    margin-top: 20px; }
  .album-panel ol, .playlist-panel ol {
    padding: 0;
    border-top: 1px solid #222; }
  .album-panel li, .playlist-panel li {
    border-bottom: 1px solid #222; }
    .album-panel li p, .playlist-panel li p {
      line-height: 40px; }
    .album-panel li span, .playlist-panel li span {
      display: inline-block;
      vertical-align: top; }
    .album-panel li .index, .playlist-panel li .index {
      padding-left: 10px;
      width: 30px; }
    .album-panel li .song-name, .playlist-panel li .song-name {
      cursor: pointer;
      color: #fff;
      width: 40%; }
    .album-panel li .artist-name, .playlist-panel li .artist-name {
      width: 20%; }
      .album-panel li .artist-name a:hover, .playlist-panel li .artist-name a:hover {
        text-decoration: underline; }
    .album-panel li .album-name, .playlist-panel li .album-name {
      width: 20%; }
      .album-panel li .album-name a:hover, .playlist-panel li .album-name a:hover {
        text-decoration: underline; }
    .album-panel li .duration, .playlist-panel li .duration {
      box-sizing: border-box;
      width: 10%;
      text-align: right;
      padding-right: 10px; }
  .album-panel li.header, .playlist-panel li.header {
    font-size: 12px;
    cursor: pointer; }
    .album-panel li.header .song-name, .playlist-panel li.header .song-name {
      color: #AAA;
      width: 40%; }
    .album-panel li.header .duration, .playlist-panel li.header .duration {
      box-sizing: border-box;
      width: 10%;
      text-align: right;
      padding-right: 10px; }
  .album-panel li:hover, .playlist-panel li:hover {
    background-color: #333; }
  .album-panel li.active, .playlist-panel li.active {
    background-color: #444;
    color: #2fd566; }
    .album-panel li.active .song-name,
    .album-panel li.active .artist-name a,
    .album-panel li.active .album-name a, .playlist-panel li.active .song-name,
    .playlist-panel li.active .artist-name a,
    .playlist-panel li.active .album-name a {
      color: #2fd566; }

.album-panel li .song-name {
  cursor: pointer;
  color: #fff;
  width: 60%; }

/*
.album-panel li.header .song-name {
  color: #AAA;
  width: 85%;
}*/
.artist-panel {
  padding: 2% 3%; }
  .artist-panel .heading {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    padding-left: 20px;
    padding-top: 30px;
    height: 350px; }
    .artist-panel .heading p {
      font-size: 2em; }
    .artist-panel .heading h1 {
      color: #FFF;
      font-size: 3em; }
  .artist-panel ul {
    margin-top: 20px; }
    .artist-panel ul li {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      max-width: 350px;
      width: 33%;
      padding: 1% 1%;
      margin-bottom: 20px; }
      .artist-panel ul li img {
        width: 100%; }
      .artist-panel ul li p {
        padding: 2%; }

.media-player {
  background-color: #282828;
  width: 100%;
  height: 10%;
  min-height: 80px; }
  .media-player button {
    cursor: pointer;
    max-width: 60px;
    padding-right: 10px; }
  .media-player .now-playing-container,
  .media-player .controls-container {
    display: inline-block;
    vertical-align: top; }
  .media-player .now-playing-container {
    box-sizing: border-box;
    width: 24%;
    padding: 15px 0 0 15px; }
    .media-player .now-playing-container .image, .media-player .now-playing-container .copy {
      display: inline-block;
      vertical-align: top; }
    .media-player .now-playing-container .copy {
      box-sizing: border-box;
      width: 74%;
      overflow: hidden; }
    .media-player .now-playing-container .image {
      box-sizing: border-box;
      width: 25%;
      padding-right: 15px; }
  .media-player .controls-container {
    width: 75%;
    margin-top: 10px; }
    .media-player .controls-container .control-panel,
    .media-player .controls-container .volume-panel {
      display: inline-block;
      vertical-align: top; }
    .media-player .controls-container .control-panel {
      width: 75%; }
      .media-player .controls-container .control-panel .controls {
        max-width: 350px;
        margin: 0 auto; }
    .media-player .controls-container .volume-panel {
      width: 25%; }
    .media-player .controls-container .progressbar-container {
      max-width: 800px;
      width: 90%;
      margin: 0 auto; }
      .media-player .controls-container .progressbar-container #currentTime,
      .media-player .controls-container .progressbar-container #progressbar,
      .media-player .controls-container .progressbar-container #duration {
        display: inline-block;
        vertical-align: top; }
      .media-player .controls-container .progressbar-container #currentTime {
        margin-right: 10px; }
      .media-player .controls-container .progressbar-container #progressbar {
        background-color: #404040;
        max-width: 500px;
        width: 90%;
        height: 3px;
        margin-top: 5px; }
      .media-player .controls-container .progressbar-container #duration {
        margin-left: 10px; }
      .media-player .controls-container .progressbar-container #bar {
        background-color: #ccc;
        width: 0;
        height: 2px; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #333;
  color: #AAA; }

body {
  background-color: #000;
  font-size: 14px; }

body, section, div, h1, h2, h3, p, ol, ul {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-sizing: border-box;
  vertical-align: middle; }
  button img {
    width: 100%; }

.hilight {
  color: #FFF; }

.app-container {
  width: 100%;
  height: 100%; }
  .app-container .frame {
    width: 100%;
    height: 90%; }
  .app-container .side-panel {
    box-sizing: border-box;
    background-color: #000;
    display: inline-block;
    max-width: 300px;
    width: 15%;
    height: 100%;
    padding-top: 20px;
    vertical-align: top;
    overflow-y: auto; }
    .app-container .side-panel ul, .app-container .side-panel li {
      padding: 0;
      margin: 0; }
    .app-container .side-panel li {
      border-left: 3px solid transparent;
      padding-left: 20px; }
    .app-container .side-panel li.active {
      border-left: 3px solid #2fd566; }
    .app-container .side-panel a {
      color: #CCC;
      line-height: 2.5em;
      text-decoration: none; }
    .app-container .side-panel a:hover {
      color: #FFF;
      text-decoration: none; }
    .app-container .side-panel p {
      font-size: 12px;
      line-height: 2em;
      margin-top: 20px;
      padding-left: 20px; }
  .app-container .main-panel {
    box-sizing: border-box;
    background: linear-gradient(180deg, #323232 0%, #141414 40%);
    background-size: 100% 100%;
    display: inline-block;
    overflow-y: auto;
    width: 84%;
    height: 100%;
    vertical-align: top; }
    .app-container .main-panel a {
      color: #CCC;
      text-decoration: none; }
    .app-container .main-panel .app-heading {
      margin-top: 20px;
      padding-left: 20px; }

