@import './panels.scss';
@import './artists.scss';
@import './media_player.scss';

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #333;
  color: #AAA;
}

body {
  background-color: #000;
  font-size: 14px;
}

body, section, div, h1, h2, h3, p, ol, ul {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-sizing: border-box;
  vertical-align: middle;
  img {
    width: 100%;
  }
}

.hilight {
  color: #FFF;
}

.app-container {
  width: 100%;
  height: 100%;

  .frame {
    width: 100%;
    height: 90%;
  }

  .side-panel {
    box-sizing: border-box;
    background-color: #000;
    display: inline-block;
    max-width: 300px;
    width: 15%;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
    vertical-align: top;
    overflow-y: auto;

    ul, li {
      padding: 0;
      margin: 0;
    }

    a {
      color: #CCC;
      line-height: 2.5em;
      text-decoration: none;
    }

    a:hover {
      color: #FFF;
      text-decoration: none;
    }

    p {
      font-size: 12px;
      line-height: 2em;
      margin-top: 20px;
    }
  }
  
  .main-panel {
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(50, 50, 50, 1) 0%, rgba(20, 20, 20, 1) 40%);
    background-size: 100% 100%;
    display: inline-block;
    overflow-y: auto;
    width: 84%;
    height: 100%;
    vertical-align: top;

    a {
      color: #CCC;
      text-decoration: none;
    }

    .app-heading {
      margin-top: 20px;
      padding-left: 20px;
    }
  } 
}