.album-panel, .saved-tracks-panel, .playlist-panel {
  padding: 2% 3%;

  .album-cover, .heading {
    display: inline-block;
    vertical-align: top;
  }

  .album-cover {
    max-width: 200px;
  }

  .album-cover img {
    width: 100%;
  }

  .heading {
    margin-top: 20px;
    padding-left: 20px;
    
    h1 {
      color: #FFF;
    }

    h1 {
      font-size: 3em;
    }

    p {
      font-size: 1em;
      line-height: 2em;
    }

    .play_button {
      cursor: pointer;
      display: inline-block;
      background-color: #2ab859;
      color: #fff;
      width: 100px;
      line-height: 30px;
      font-size: .88em;
      text-align: center;
      border: 1px solid #2ab859;
      border-radius: 20px;
      margin-top: 10px;
      vertical-align: middle;
    }

    .play_button:hover {
      background-color: #2fd566;
      border: 1px solid #2fd566;
    }

    .likeAlbum {
      cursor: pointer;
      display: inline-block;
      font-size: 1em;
      line-height: 1.75em;
      color: #AAA;
      width: 25px;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #AAA;
      border-radius: 50%;
      margin-left: 20px;
    }

    .likeAlbum:hover {
      color: #fff;
      border: 1px solid #fff;
    }
  }

  .filter {
    margin-top: 20px;

    input[type="text"] {
      background-color: #333;
      border: none;
      outline: none;
      padding: 5px;
      color: #fff;
      font-size: 1em;
    }
  }

  ol {
    padding: 0;
    border-top: 1px solid #222;
  }

  li {
    border-bottom: 1px solid #222;

    p {
      line-height: 40px;
    }

    span {
      display: inline-block;
      vertical-align: top;
    }

    .index {
      padding-left: 10px;
      width: 30px;
    }

    .like {
      cursor: pointer;
      font-size: 1.5em;
      width: 30px;
    }

    .like:hover {
      color: #fff;
    }

    .song-name {
      cursor: pointer;
      color: #fff;
      width: 40%;
    }

    .artist-name {
      color: #fff;
      width: 20%;

      a {
        color: #fff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .album-name {
      width: 20%;

      a {
        color: #fff;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
    }

    .duration {
      box-sizing: border-box;
      width: 10%;
      text-align: right;
      padding-right: 10px;
    }
  }

  li.header {
    font-size: .80em;
    letter-spacing: 1px;
    cursor: pointer;

    .song-name {
      color: #AAA;
      width: 40%;
    }

    .artist-name,
    .album-name {
      color: #AAA;
    }

    .duration {
      box-sizing: border-box;
      width: 10%;
      text-align: right;
      padding-right: 10px;
    }

    span:hover {
      color: #fff;
    }
  }

  li.header:hover {
    background-color: transparent;
  }

  li:hover {
    background-color: #222;
  }

  li.active {
    background-color: #333;
    color: #2fd566;

    .song-name,
    .artist-name a,
    .album-name a {
      color: #2fd566;
    }
  }
}



.album-panel li .song-name {
  cursor: pointer;
  color: #fff;
  width: 80%;
}
/*
.album-panel li.header .song-name {
  color: #AAA;
  width: 85%;
}*/

.search {
  padding: 1% 0 1% 2%;
}