.album-panel, .playlist-panel {
  padding: 2% 3%;

  .album-cover, .heading {
    display: inline-block;
    vertical-align: top;
  }

  .album-cover {
    max-width: 200px;
  }

  .album-cover img {
    width: 100%;
  }

  .heading {
    margin-top: 20px;
    padding-left: 20px;
    
    h1 {
      color: #FFF;
    }

    h1 {
      font-size: 3em;
    }

    p {
      font-size: 1em;
      line-height: 2em;
    }
  }

  .filter {
    margin-top: 20px;

    input[type="text"] {
      background-color: #333;
      border: none;
      outline: none;
      padding: 5px;
      color: #fff;
      font-size: 1em;
    }
  }

  ol {
    padding: 0;
    border-top: 1px solid #222;
  }

  li {
    border-bottom: 1px solid #222;

    p {
      line-height: 40px;
    }

    span {
      display: inline-block;
      vertical-align: top;
    }

    .index {
      padding-left: 10px;
      width: 30px;
    }

    .song-name {
      cursor: pointer;
      color: #fff;
      width: 40%;
    }

    .artist-name {
      color: #fff;
      width: 20%;

      a {
        color: #fff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .album-name {
      width: 20%;

      a {
        color: #fff;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
    }

    .duration {
      box-sizing: border-box;
      width: 10%;
      text-align: right;
      padding-right: 10px;
    }
  }

  li.header {
    font-size: .80em;
    letter-spacing: 1px;
    cursor: pointer;

    .song-name {
      color: #AAA;
      width: 40%;
    }

    .artist-name,
    .album-name {
      color: #AAA;
    }

    .duration {
      box-sizing: border-box;
      width: 10%;
      text-align: right;
      padding-right: 10px;
    }

    span:hover {
      color: #fff;
    }
  }

  li.header:hover {
    background-color: transparent;
  }

  li:hover {
    background-color: #222;
  }

  li.active {
    background-color: #333;
    color: #2fd566;

    .song-name,
    .artist-name a,
    .album-name a {
      color: #2fd566;
    }
  }
}



.album-panel li .song-name {
  cursor: pointer;
  color: #fff;
  width: 60%;
}
/*
.album-panel li.header .song-name {
  color: #AAA;
  width: 85%;
}*/